<a href="https://colab.research.google.com/github/AKHIL-882/DUGGIRALA-AKHIL/blob/master/Python_B_A_Programme(DU).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####**Define a class Rectangle that has the two data members Length and Breadth and following methods: • Constructor to initialize the data members Length and Breadth • Area – This computes area of the rectangle • __str__ function to generate a string that may be used to display the data members of the rectangle.Also, write Python statements to: • Create an object of the class Rectangle with suitable values. • Invoke the method Area • Print all the data members of the class • Give the output that will be produced on execution of the followingstatement: print(12 & 7, 12 | 7, ~12, 12^ 7, 12 << 3)**

In [32]:
class rectangle():
    def __init__(self,breadth,length):
        self.breadth=breadth
        self.length=length
    def area(self):
        return self.breadth*self.length
    def __str__(self):
        return "Member of Test"

length=int(input("Enter length of rectangle: "))
breadth=int(input("Enter breadth of rectangle: "))
area_of_rectangle=rectangle(length,breadth)
print("Area of rectangle:",area_of_rectangle.area())
print()
print("The Datamembers of rectangle",rectangle)

Enter length of rectangle: 2
Enter breadth of rectangle: 4
Area of rectangle: 8

The Datamembers of rectangle <class '__main__.rectangle'>

**1(b) Answer**

In [28]:
class Rectangle:
    "This is Rectangle class"
    length = 15
    breadth = 10
    print("Lenght and Breadth",length,breadth)

    def area(self):
      length = 2
      breadth = 3
      print('Area of rectangle', length * breadth)

# create a new object of Rectangle class
Object_created = Rectangle()

print(Rectangle.area)

print(Object_created.area)

# Calling object's area() method

Object_created.area()

print("\n")
print(Rectangle.area)
Rectangle.area

Lenght and Breadth 15 10
<function Rectangle.area at 0x7fb9d7033a60>
<bound method Rectangle.area of <__main__.Rectangle object at 0x7fb9d7031ba8>>
Area of rectangle 6


<function Rectangle.area at 0x7fb9d7033a60>

**1(c) Output**

In [30]:
print(12 & 7, 12 | 7,~12, -12 ^ 7, 12 << 3)

4 15 -13 -13 96

**3(3) Answer**

In [31]:
def func1(m,n):
  if(m<100):
    if(n>50):
      m +=1
    else:
      n +=1
  print(m,n)

(m,n) = 15,20
print(m,n)

15 20

### **Write your own Python function indexE(L1, e) that accepts a list L1 and an element e and returns the index of the element e, if element e is found in the list, else returns -1. Write python statements to apply the function indexE on the list L1: [31, 28, 63, 86, 15, 79, 44,52]to print the index of the values 86 and 87 in the list L1.**

In [74]:
def indexE(L1, n, e):
    for i in range(0, n):
        if (L1[i] == e):
            return i
    return -1

L1 = [31, 28, 63, 86, 15, 79, 44]
e = int(input("Enter the element to be search:  "))
n = len(L1)
result = indexE(L1, n, e)
if(result == -1):
    print("Element not found | -1")
else:
    print("Element found at index: ", result)

Enter the element to be search:  28
Element found at index:  1

In [75]:
L1 = [31, 28, 63, 86, 15, 79, 44]
print("The index of 86 is : ", L1.index(86, 0, 7))
print("The index value of 87 is: ",L1.index(87, 0, 7))

The index of 86 is :  3

ValueError: ignored

**4.2.1 Display first 3 elements**

In [76]:
print(L1[0:3])

[31, 28, 63]

**4.2.2 Display last 2 elements**

In [77]:
print(L1[-2:])

[79, 44]

**4.2.3 Delete element at Index 2**

In [78]:
del(L1[2])
L1

[31, 28, 86, 15, 79, 44]

**4.2.4 Inserting the list[11,6]**

In [79]:
new_elements = [11,6]

# inserting a new elements to the list
L1.insert(7, new_elements)

print('Updated List-L2', L1)

Updated List-L2 [31, 28, 86, 15, 79, 44, [11, 6]]

**4.3 Output of a program**

In [80]:
def test():
  a=9
  def test2():
    a=6
  test2()
  a+=1
  print(a)
test()

10

### **Write a Python function vowel_cons(s)that accepts a string s and counts the vowels and consonant that occurs in s and prints the result.**

In [85]:

def vowel_cons(str): 
  
    # Declare the variable vowels,  
    # consonant
    vowels = 0
    consonant = 0
  
    for i in range(0, len(str)):  
          
        ch = str[i]  
  
        if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ):  
  
            # To handle upper case letters 
            ch = ch.lower() 
  
            if (ch == 'a' or ch == 'e' or ch == 'i' 
                        or ch == 'o' or ch == 'u'): 
                vowels += 1
            else: 
                consonant += 1
          
      
    print("The number of Vowels: ", vowels) 
    print("The number of Consonant: ", consonant)  
   
str = input("Enter the string:  ")
vowel_cons(str)

Enter the string:  aeiouzyxwv
The number of Vowels:  5
The number of Consonant:  5

**5.2 Output**

In [86]:
a = True
b = False
if not a or b:
  print(1)
elif not a or not b:
  print(2)
else:
  print(3)

2

**5.3 Output and Errors**

In [99]:
a = "one"
def Show():
  Show.b = "two"   #error indentation and Accessing the variable
  print(a)
  print(Show.b)

Show()   #Error while calling the function
print(a)
print(Show.b)  # Error in calling the value of a variable from function

one
two
one
two

**5.4 Output and Error**

In [103]:
def sample():
  a = input ('Enter first number')
  b = input ('Enter first number')
  print (a,b)
  b = a
  print("The b value after changing is : ",b)

sample()   #function calling is missing

Enter first number2
Enter first number3
2 3
The b value after changing is :  2

###**Write a Python function triangle(n)that accepts a positive integer n(here n≤9) as an argument and produces the pattern given below as output. In the pattern, for example, when 4 is entered as the value of n, the**

In [123]:

def traingle(n):
  for n in range(1, n+1):
    for c in range(1, n + 1):
        print(c, end=' ')
    print("")
n = int(input("Enter the value less than or equal to 9"))
if(n<=9):
  traingle(n)
else:
  print("The value entered is greater than 9 ")

Requirement already satisfied: goto-statement in /usr/local/lib/python3.6/dist-packages (1.2)
Enter the value less than or equal to 95
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [124]:
s1 = 'Have a good day'
print(s1.upper())
print(s1.title())
print(s1.isdigit())
print(s1.isalpha())
print(s1.count('a'))

HAVE A GOOD DAY
Have A Good Day
False
False
3

In [125]:
set1 = set(['Red','Orange','Green', 'Blue'])
set2 = set(['Lightblue','Red','Voilet','Saffron'])

print(set2 | set1)
print(set2 - set2)
print(set2 & set1)
print('X' in set2)

{'Saffron', 'Blue', 'Lightblue', 'Green', 'Voilet', 'Orange', 'Red'}
set()
{'Red'}
False